@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
:root {
  --main-color: #6dbfe2;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  font-size: 15px;
  font-family: monospace;
}

section {
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------header --------*/

header {
  background: url(/images/Sapa.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
        /*---- menu-header----- */
div.main-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.main-menu img {
  width: 16%;
  height: 80px;
}

.menu {
  height: 60px;
}

.menu-items {
  width: 100%;
  height: 100%;
} 

.menu-items li {
  height: 100%;
  margin-top: 20px;
}

.menu-items li a {
  display: block;
  padding-left: 12.5px;
  padding-right: 12.5px;
  line-height: 29.5px;
  height: 50%;
  font-size: 17.5px;
  letter-spacing: 2px;
  color: rgb(209, 238, 248);
}

.menu-items li a:hover {
  background: lightblue;
  border-radius: 120px;
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: Slogan;
  src: url(/font/BonheurRoyale-Regular.ttf);
}

        /*----- Slogan-header ----- */

.Slogan {
  height: calc(100% - 87px);
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
}

.Slogan > span {
  font-family: Slogan;
  display: inline-block;
  width: 60%;
  color: rgb(194, 233, 247);
  font-size: 100px;
}

@keyframes fade {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

/*----- go to Top -----*/

@font-face {
  font-family: goTop;
  src: url(/font/Lora-Regular.ttf);
}

.up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999;
  height: 45px;
  width: 45px;
}

.up a{
  display: block;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.up a p {
  height: 120%;
  width: 100%;
  font-size: 23.5px;
  font-weight: 600;
  font-family: goTop;
  color: #333;
}

.up a:hover {
  border: 2px solid #31a7da;
  background: #31a7da;
  opacity: 1;
}

.up a:hover p{
  color: white;
}

/*----- Kham pha ----- */

section.discovery {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 0;
}

        /*----- form tim kiem ----- */

nav.log-in {
  padding: 0 50px;
  width: 40%;
}

                  /* -----phan dau----- */

.header-content {
  padding: 15px 0;
  width: 100%;
}

.header-content > h1 {
  color: var(--main-color);
  font-size: 35px;
}              

.header-content > p {
  color: #055c81;
  font-size: 35px;
  font-family: Slogan;
}

                /* -----phan giua----- */

.border {
  border: 1px solid var(--main-color);
  width: 70%;
  margin-bottom: 10px;
  border-radius: 100px;
  color: #055c81;
}

.border:hover span {
  color: #31a7da;
  font-size: 16.5px;
}

.log-in-form {
  width: 100%;
  border: 1px solid #3e97bd;
}

.login-title h3{
  color: var(--main-color);
  padding: 25px;
  font-size: 25px;
  font-weight: normal;
}

.login-with-gg img {
  width: 10.5%;
}

.login-with-fb img {
  width: 8%;
  margin: 4px 5px;
}

.input-form {
  padding: 20px 0;
  width: 70%;
}

.form p{
  text-align: left;
  padding: 5px 0;
  color: #055c81;
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 7px;
  border-radius: 7px;
  border: 1px solid #3e97bd;
}

.input-pass a {
  font-size: 12px;
  color: #055c81;
}

                /* -----phan cuoi----- */

.btn {
  width: 100%;
}

.btn button {
  height: 35px;
  width: 150px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.btn > button.first {
  background: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn button.first:hover {
  background-color: var(--main-color);
  color: white;
}

.btn button:last-child:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

        /*----- hinh anh minh hoa ----- */

.discovery-image {
  position: absolute;
  width: 60%;
  right: 0;
}

.img-items {
  flex-wrap: wrap;
}

.img-items .img-item {
  max-width: 31.5%;
  max-height: 33.33%;
  margin: 5px;
  position: relative;
}

.img-item img{
  max-width: 100%;
  max-height: 130px;
}

/*------địa điểm nổi bật-------*/

.nice-place {
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.nine-place-item {
  display: inline-flex;
  position: relative;
  width: 28%;
  height: 470px;
  
}

.nine-place-item img {
  width: 100%;
  height: 100%;
  object-fit: none;
 
}

.nice-place-text {
  position: absolute;
  width: 100%;
  background-color: rgb(228, 239, 248);
  transition: all 0.5s ease;
  bottom: 0%;
  padding: 17px;
}

.nice-place-text h2 {
  color: var(--main-color);
}

.nice-place-text p {
  color: #929191;
  margin: 13px;
}

.nice-place h1 {
  text-align: center;
  margin: 0 0 70px;
  color: var(--main-color);
  position: relative;
  font-size: 35px;
}

.nice-place h1::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  background-color: var(--main-color);
  border-radius: 10px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.nice-place h1::after {
  position: absolute;
  content: "\2764";
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 30px;
  color: red;
  background-color: #fff;
  bottom: -20px;
}

.nice-place-text button {
  height: 30px;
  width: 100px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.nice-place-text button:hover {
  background-color: tomato;
}
/*CTA*/

.container__banner {
  background: url(../images/cta.jpg) center / cover no-repeat;
  width: 100%;
  margin-top: 60px;
}

.container__banner-wrap {
  padding: 50px 0;
  justify-content: center;
  align-items: center ;
}

.container__banner-title {
  margin: 20px 0;
  color: white ;
  font-family: Slogan;
}

.container__banner-title > h2 {
  font-size: 550%;
  font-weight: 800;
  padding-left: 10%;
  font-family: Slogan;
}

.container__banner-title > h1 {
  font-size: 550%;
  font-weight: 800;
  padding-left: 10%;
  font-family: Slogan;
 
}

.container__banner-view {
  text-align: center;
}

.container__banner-view > a {
  text-decoration: none;
  border-radius: 120px;
  color: rgb(106, 213, 248);
  font-size: 15px;
  font-weight: 400;
  /*line-height: 50%;*/
  display: inline-block;
  background-color: white ;
  padding: 17px 37px;
  border-radius: 25px;
  position: relative;
  bottom: 80px;
  margin-left: 10%;
}

/*ưu đãi tốt nhất*/
.rating_5 {
  font-size: 20px;
  margin-right: 4px;
}

.rating i:last-child {
  margin-right: 0;
}
.rating_5 i:first-child {
 color: #ffeb8d;
}

.rating_5 i:nth-child(2) {
  color: #fed46b;
}

.rating_5 i:nth-child(3) {
  color: #fbb53d;
}

.rating_5 i:nth-child(4) {
  color: #fa9e1b;
}

.rating_5 i:nth-child(5) {
  color: #ef910a;
}

.main_offers {
  display: block;
  margin: 0 8% 0;
}

.offers_title {
  text-align: center;
  font-size: 35px;
  color: var(--main-color);
  margin: 40px 0 70px;
  position: relative;
}
.offers_title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  background-color: var(--main-color);
  /*border-radius: 10px;*/
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.offers_title::after {
  position: absolute;
  content: "\2764";
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 30px;
  color: red;
  background-color: #fff;
  bottom: -20px;
}

.offers_items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.offers_item {
  width: 40%;
  margin: 2.5%;
  display: flex;
}
.offers_img {
  border-radius: 30px;
}
div > img {
  width: 170%;
  height: 102%;
}
.offers_image {
  width: 50%;
  display: block;
}

.offers_price {
  display: inline-block;
  font-size: 25px;
  font-weight: 900;
  color: #eda84a;
  line-height: 10px;
}

.offers_text {
  font-size: 15px;
  font-weight: 400px;
  color: #929191;
  margin-top: 16px;
  text-align: justify;
}

.offers_icons {
  margin-top: 17px;
}

.offers_icons_item {
  display: inline-block ;
  margin-right: 15px;
}

.offers_content {
  margin-top: 2%;
  margin-left: 24%;
}
.offers_name {
  position: absolute;
  left: 10;
  bottom: 60px;
  width: 150px;
  height: 35px;
  background: #6dbfe2;
  overflow: hidden;
  position: relative;
}

.offers_name a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  padding-left: 22px;
  
}
.offers_link {
  margin-top: 54px;
}
.offers_link a {
  font-size: 14px;
  font-weight: 700;
  color: blue;
  text-transform: uppercase;
}

/*khách sạn*/
.main_hotel {
  display: block;
  margin: 0 8% 0;
}

.hotel_title {
  text-align: center;
  font-size: 35px;
  color: var(--main-color);
  margin: 40px 0 70px;
  position: relative;
}

.hotel_title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  background-color: var(--main-color);
  /*border-radius: 10px;*/
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.hotel_title::after {
  position: absolute;
  content: "\2764";
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 30px;
  color: red;
  background-color: #fff;
  bottom: -20px;
}
.hotel_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}

.hotel_item {
  width: 25%;
  margin-bottom: 55px;
}

.hotel_image {
  width: 50%;
  height: 80%;
}
.hotel_image img {
  width: 100%;
}

.hotel_content {
  padding-left: 15px;
}
.hotel_title_name {
  font-size: 16px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
}

.hotel_price {
  font-size: 14px;
  font-weight: 700;
  color: #fa9e1b;
  margin-top: 2px;
}

.hotel_location {
  font-size: 14px;
  font-weight: 400;
  color: #929191;
  text-transform: uppercase;
  margin-top: 5px;
}

/* ------- footer -------- */

footer {
  background-image: url(/images/about_slide.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
  margin: 0;
  color: lightblue;
}

div.col33 {
  width: 33.33%;
}

.footer-items {
  background:rgba(0, 0, 0, 0.35);
  height: 100%;
}

footer h1 {
  height: 95px;
  text-align: center;
}

/* ----- cột 1 -----*/

.col1 > img {
  width: 80%;
  height: 80%;
}

.infomation {
  border-bottom: 1px solid lightblue;
}

.infomation i {
  margin-bottom: 12.5px;
}

.infomation span {
  font-weight: normal;
  padding-left: 8px;
}

.social span {
  font-size: 20px;
  font-weight: 450;
}

.social i {
  padding-left: 8px;
  color: lightblue;
}

/* -----Cot 2----- */

.col2 .c-menu ul {
  list-style-type: disc;
}

.col2 .c-menu ul li {
  margin-bottom: 10px;
}

.c-menu a {
  color: lightblue;
}

.c-menu a:hover {
  color: white;
}
/* -----Cot 3----- */

.col3-title h1 {
  width: 80%;
}

.col3-item {
  width: 80%;
}